html,
body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
#container {
  width: 1000px;
  margin: 0 auto;
  padding: 8px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
.box {
  width: 200px;
  height: 100px;
  background: #CCC;
  position: relative;
}

