#float-origin-left {
  float: left; }

#float-origin-right {
  float: right; }

#padding-left {
  padding-left: 8px; }

#padding-right {
  padding-right: 8px; }

#margin-left {
  margin-left: 8px; }

#margin-right {
  margin-right: 8px; }
