/* float */
#float-origin-left {
  float: right; }

#float-origin-right {
  float: left; }

/* padding */
#padding-left {
  padding-right: 8px; }

#padding-right {
  padding-left: 8px; }

/* margin */
#margin-left {
  margin-right: 8px; }

#margin-right {
  margin-left: 8px; }

/* border */
#border-left {
  border-right: 1px solid white; }

#border-right {
  border-left: 1px solid white; }

/* border-radius */
#border-top-left-radius {
  border-top-right-radius: 2px; }

#border-top-right-radius {
  border-top-left-radius: 2px; }

#border-bottom-left-radius {
  border-bottom-right-radius: 2px; }

#border-bottom-right-radius {
  border-bottom-left-radius: 2px; }

/* position */
#left {
  right: 8px; }

#right {
  left: 8px; }

/* background */
#background-position {
  background-position: -8px 100px; }

#background-position-left {
  background-position: right 100px; }

#background-position-right {
  background-position: left 100px; }

#background-position-center {
  background-position: center 100px; }

#background-5-left {
  background: white url(img.ext) no-repeat right center; }

#background-4-left {
  background: url(img.ext) no-repeat right center; }

#background-5-right {
  background: white url(img.ext) no-repeat left center; }

#background-4-right {
  background: url(img.ext) no-repeat left center; }

#background-5-center {
  background: white url(img.ext) no-repeat center center; }

#background-4-center {
  background: url(img.ext) no-repeat center center; }

#background-5 {
  background: white url(img.ext) no-repeat -8px center; }

#background-4 {
  background: url(img.ext) no-repeat -8px center; }

/* text */
#text-indent {
  text-indent: -8px; }

/* 4 value swaps */
#lrswap {
  padding: 0px 24px 16px 8px;
  margin: 0px 24px 16px 8px; }

#lrswap2 {
  padding: 0px 24px 16px 8px;
  margin: 0px 24px 16px 8px; }
