/*
Syntax error: Undefined variable: "$value".
        on line 4 of intl.test.scss, in `intl'
        from line 27 of intl.test.scss

1: $rtl: false !default;
2: 
3: @function swap-left-right($list) {
4:   @return nth($value, 1) nth($value, 4) nth($value, 3) nth($value, 2);
5: }
6: 
7: @mixin intl($property, $value) {
8:   // test if value is list with 4 values
9:   // then invert nth2 and nth4

Backtrace:
intl.test.scss:4:in `intl'
intl.test.scss:27
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/variable.rb:49:in `_perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:93:in `_perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:93:in `map'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:93:in `_perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/list.rb:70:in `_perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/list.rb:70:in `map'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/list.rb:70:in `_perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:300:in `visit_return'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:183:in `perform_sass_fn'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:183:in `each'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:183:in `perform_sass_fn'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:182:in `catch'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:182:in `perform_sass_fn'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:68:in `perform_arguments'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:181:in `perform_sass_fn'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/funcall.rb:97:in `_perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:293:in `visit_prop'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:118:in `with_environment'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:105:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:202:in `visit_if'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:118:in `with_environment'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:105:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:202:in `visit_if'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:205:in `visit_if'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:263:in `visit_mixin'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:263:in `map'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:263:in `visit_mixin'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:118:in `with_environment'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:263:in `visit_mixin'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:68:in `perform_arguments'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:258:in `visit_mixin'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:118:in `with_environment'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:105:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:315:in `visit_rule'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:118:in `with_environment'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:105:in `visit_children'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:125:in `visit_root'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:97:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:298:in `watch'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin/compiler.rb:306:in `watch'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/exec.rb:431:in `watch_or_update'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/leej32/.gem/ruby/1.8/gems/sass-3.2.0/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$value\".\A         on line 4 of intl.test.scss, in `intl'\A         from line 27 of intl.test.scss\A \A 1: $rtl: false !default;\A 2: \A 3: @function swap-left-right($list) {\A 4:   @return nth($value, 1) nth($value, 4) nth($value, 3) nth($value, 2);\A 5: }\A 6: \A 7: @mixin intl($property, $value) {\A 8:   // test if value is list with 4 values\A 9:   // then invert nth2 and nth4"; }
